@page
@model WebApp.Pages.Profiles.AllProfileUsersModel
@{
    ViewData["Title"] = "Все профили";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.ProfileUserList[0].ProfileUserId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProfileUserList[0].Gamertag)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProfileUserList[0].Gamerscore)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProfileUserList[0].Bio)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ProfileUserList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gamertag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gamerscore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
            </tr>    
        }
    </tbody>
</table>