@page
@model WebApp.Pages.Profiles.CurrentUserProfileModel
@{
    ViewData["Title"] = "Профиль авторизованного пользователя";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.ProfileUser.ProfileUserId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProfileUser.Gamertag)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProfileUser.Gamerscore)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ProfileUser.Bio)
            </th>
        </tr>
    </thead>
    <tbody>
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => Model.ProfileUser.ProfileUserId)
                </td>
                <td>
                @Html.DisplayFor(modelItem => Model.ProfileUser.Gamertag)
                </td>
                <td>
                @Html.DisplayFor(modelItem => Model.ProfileUser.Gamerscore)
                </td>
                <td>
                @Html.DisplayFor(modelItem => Model.ProfileUser.Bio)
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <button type="submit" asp-page-handler="UpdateProfile" class="btn btn-outline-info" id="btnGenerateWebName">
            Update Profile
        </button>
    </form>
}
