@page "{game}"
@using WebApp.Models
@model WebApp.Pages.Game.IndexModel
@{

}
<h1>@Model.Output.TitleName</h1>
<head>

</head>
<body>
    <div class="table-responsive">
        <table class="table table-striped recipe">
            <thead>
                <tr>
                    <th>Title Name</th>
                    <th>Total Achievements</th>
                    <th>Total Gamerscore</th>
                    <th>Current Achievements?</th>
                    <th>Current Gamerscore</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">@Model.Output.TitleName</td>
                    <td class="align-middle">@Model.Output.TotalAchievements</td>
                    <td class="align-middle">@Model.Output.TotalGamerscore</td>
                    <td class="align-middle">@Model.Output.CurrentAchievements</td>
                    <td class="align-middle">@Model.Output.CurrentGamerscore</td>
                </tr>
                @* @foreach (var game in Model.Output)
                {
                    
                } *@
            </tbody>
        </table>
    </div>
</body>
@* <dl>
    @foreach (GameViewModel item in Model.Output)
    {
        <dt>@item.TitleName</dt>
        <dd>@item.Description</dd>
        <dd>@item.TotalAchievements</dd>
        <dd>@item.TotalGamerscore</dd>
        <dd>@item.CurrentAchievements</dd>
        <dd>@item.CurrentGamerscore</dd>
    }
</dl> *@