@page "/gamer/{gamertag}/games"
@using XblApp.DTO

@model XblApp.Pages.Gamer.GamesModel
@{
    ViewData["Title"] = $"Games for {Model.Output.Gamertag}";
}

<!-- Подключаем вкладки для игрока -->
@await Html.PartialAsync("_GamerTabs", Model.Output.Gamertag)

<h2>@ViewData["Title"]</h2>

<body>
    <div class="table-responsive">
        <table class="table table-striped recipe">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Achievements</th>
                    <th>Gamerscore</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                @foreach (GameInnerDTO game in Model.Output.Games)
                {
                    <tr>
                        <td class="align-middle">@game.GameName</td>
                        <td class="align-middle">@game.CurrentAchievements of @game.TotalAchievements</td>
                        <td class="align-middle">@game.CurrentGamerscore of @game.TotalGamerscore</td>
                        <td class="align-middle">@game.AchievementsProgress</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
