@page "/gamer/{gamertag}"
@model XblApp.Pages.Gamer.IndexModel
@{
    ViewData["Title"] = "YUIO";
}

<!-- Подключаем вкладки для игрока -->
@await Html.PartialAsync("_GamerTabs", Model.Output.Gamertag)

<h2 class="d-inline">@Model.Output.Gamertag</h2>
<body>
    <td>
        <div>
            Gamertag: @Model.Output.Gamertag
        </div>
        <div>
            Gamerscore: @Model.Output.Gamerscore
        </div>
        <div>
            Games: @Model.Output.TotalGames
        </div>
        <div>
            Achievements: @Model.Output.Achievements
        </div>
    </td>
</body>