@* @page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="table-responsive">
        <p>All Gamers</p>
        <table class="table table-striped recipe">
            <tbody>
                @foreach (var profile in Model.Output)
                {
                    <tr>
                        <td class="align-middle"><strong>Id:</strong> @profile.GamerId</td>
                        <td class="align-middle"><strong>Gamertag:</strong> @profile.Gamertag</td>
                        <td class="align-middle"><strong>Gamerscore:</strong> @profile.Gamerscore</td>
                        <td class="align-middle"><strong>Games count:</strong> @profile.CurrentGamesCount</td>
                        <td class="align-middle"><strong>Achievements count:</strong> @profile.CurrentAchievementsCount</td>
                        <td class="align-middle">
                            <a class="btn btn-primary"
                               asp-page="Gamer/Index"
                               asp-route-gamertag="@profile.Gamertag">View Profile</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body> *@


@* @page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="table-responsive">
        <p>All Gamers</p>
        <table class="table table-striped recipe">
            <tbody>
                @foreach (var profile in Model.Output)
                {
                    <tr>
                        <td class="align-middle"><strong>Id:</strong></td>
                        <td class="align-middle">@profile.GamerId</td>
                    </tr>
                    <tr>
                        <td class="align-middle"><strong>Gamertag:</strong></td>
                        <td class="align-middle">@profile.Gamertag</td>
                    </tr>
                    <tr>
                        <td class="align-middle"><strong>Gamerscore:</strong></td>
                        <td class="align-middle">@profile.Gamerscore</td>
                    </tr>
                    <tr>
                        <td class="align-middle"><strong>Games count:</strong></td>
                        <td class="align-middle">@profile.CurrentGamesCount</td>
                    </tr>
                    <tr>
                        <td class="align-middle"><strong>Achievements count:</strong></td>
                        <td class="align-middle">@profile.CurrentAchievementsCount</td>
                    </tr>
                    <tr>
                        <td class="align-middle"></td>
                        <td class="align-middle">
                            <a class="btn btn-primary"
                               asp-page="Gamer/Index"
                               asp-route-gamertag="@profile.Gamertag">View Profile</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body> *@


@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="table-responsive">
        <p>All Gamers</p>
        <table class="table table-striped recipe">
            <thead>
                <tr>
                    <th>Gamertag</th>
                    <th>Gamerscore</th>
                    <th>Games count</th>
                    <th>Achievements count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var profile in Model.Output)
                {
                    <tr>
                        <td class="align-middle">@profile.Gamertag</td>
                        <td class="align-middle">@profile.Gamerscore</td>
                        <td class="align-middle">@profile.CurrentGamesCount</td>
                        <td class="align-middle">@profile.CurrentAchievementsCount</td>
                        <td class="align-middle">
                            <a class="btn btn-primary"
                            asp-page="Gamer/Index" 
                            asp-route-gamertag="@profile.Gamertag">View Profile</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
